<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Face</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/Skz/jquery-3.4.1.js}"></script>
</head>
<body>

<div class="layui-row" id="popUpdateQuestion" >
    <div class="layui-col-md11">

        <form action="./facelogin" method="get">

            <div id="media">
                <video id="video" width="350" height="200" autoplay></video></div>
            <div style="display:none;overflow:hidden;"><canvas id="canvas" width="350" height="200" ></canvas></div>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="layui-btn"  onclick="query()" value="立即登录"  />
            <script type="text/javascript">
                //var 是定义变量
                var canvans = document.getElementById("canvas");

                var video = document.getElementById("video"); //获取video标签
                var context = canvas.getContext("2d");
                var con  ={
                    audio:false,
                    video:{
                        width:1980,
                        height:1024,
                    }
                };
                //导航 获取用户媒体对象
                navigator.mediaDevices.getUserMedia(con)
                    .then(function(stream){
                        video.src = window.URL.createObjectURL(stream);
                        video.onloadmetadate = function(e){
                            video.play();
                        }
                    });

                function query(){
                    //把流媒体数据画到convas画布上去
                    context.drawImage(video,0,0,350,200);

                    var imgData = canvans.toDataURL();
                    var imgData1 = imgData.split("base64,")[1];

                    $.ajax({
                        type:"post",
                        url:"./facelogin",
                        data:{
                            "img":imgData1
                        },
                        success:function(data){
                            layer.msg('登录成功',{icon:1,time:2000});
                            setTimeout(function () {window.parent.location.href='/FacegoStudent?stuId='+data;},2000);
                        },error:function(msg){
                            layer.msg('登录失败',{icon:2,time:2000});
                            /*  setTimeout(function () {window.location.href='';},2000); */
                        }
                    });
                }
                function getBase64() {
                    var imgSrc = document.getElementById("canvas").toDataURL("image/png");
                    alert(imgSrc);
                    return imgSrc.split("base64,")[1];
                };
            </script>
           <!-- <script type="text/javascript">
                layui.config({
                    base: '<%=request.getContextPath() %>/res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
                }).use(['mm','jquery','element','car'],function(){
                    var mm = layui.mm,$ = layui.$,element = layui.element,car = layui.car;

                    car.init()


                });
            </script>-->
        </form>

    </div>
</div>


<script>
    layui.use(['form','layer'], function(){
        var form = layui.form;

    });

</script>

</body>
</html>