<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.thymeleaf.org">
<head th:replace="head::copy"></head>
<body class="layui-layout-body">
<div class="layui-container">
    <div style="width: auto;height: 80px;"></div>

    <form class="layui-form" onclick="return false;" style="text-align: center;" th:object="${papers}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">试卷名称</label>
                <div class="layui-input-block" style="width:300px;">
                    <input type="text" name="paperName" class="layui-input"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">专业名称</label>
                <div class="layui-input-block" style="width:300px;">
                    <select name="majorId" lay-filter="type">
                        <option >请选择</option>
                        <span th:each="majors:${majors}">
				        <option th:value="${majors.majorId}"><span th:text="${majors.majorName}">专业</span></option>
				       </span>
                    </select>
                </div>
            </div>
        </div>
   <!--    <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属课程</label>
                <div class="layui-input-block" style="width:300px;">
                    <select name="courseId" lay-filter="course">
                        <option >请选择</option>
                        <span th:each="course:${courses}">
				        <option th:value="${course.courseId}"><span th:text="${course.courseName}">课程</span></option>
				       </span>
                    </select>
                </div>
            </div>
        </div>-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">答题时间</label>
                <div class="layui-input-block" style="width:300px;">
                    <input type="text" name="answerTime" class="layui-input"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">试卷难度</label>
                <div class="layui-input-block" style="width:300px;">
                    <select name="paperClass" lay-filter="paperClass">
                        <option value="简单">简单</option>
                        <option value="中等">中等</option>
                        <option value="困难">困难</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">试卷题量</label>
                <div class="layui-input-block" style="width:300px;">
                    <input type="text" class="layui-input" value="以导入题量为准" readonly="readonly"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">试卷总分</label>
                <div class="layui-input-block" style="width:300px;">
                    <input type="text"  class="layui-input" value="以导入题目分数计算" readonly="readonly"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" data-th-inline="javascript">
    layui.use(['form', 'layedit'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.post("/addPapers", data.field, function(res){
                layer.msg("增加成功！", {
                    icon: 1,
                    time: 2000
                }, function(){
                   window.location.href="/paperCenter";
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.layui.table.reload('test');
                });
            })
            return false;
        });
    });
</script>
</body>
</html>