<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineExam.mapper.FileMapper">
    <insert id="addUrl" parameterType="com.onlineExam.domain.FileEntity">
        insert into t_file(title,createtime,uploader,path,url,state) values(#{title},#{createtime},#{uploader},#{path},#{url},#{state})
    </insert>
    <select id="fileList" resultType="com.onlineExam.domain.FileEntity">
        select * from t_file order by createtime desc;
    </select>
    <delete id="removeFile">
        delete from t_file where id=#{id}
    </delete>
    <update id="stuState" parameterType="Integer">
        update t_file set state="已完成" where id=#{id}
    </update>
</mapper>