<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineExam.mapper.StuUserMapper">
    <select id="getStuByEmail" parameterType="String" resultType="com.onlineExam.domain.Student">
      select * from t_student where email=#{email}
    </select>

    <select id="login"   parameterType="String" resultType="String" >
    select roles from t_login where username = #{username} and password=#{password}
  </select>

   <!--	登录验证 -->
    <select id="findByUsername"   parameterType="String" resultType="com.onlineExam.domain.LoginUser" >
    select username,password,roles from t_login where username = #{value}
  </select>

	<!--	验证注册用户名是否存在 -->
    <select id="findRegisterUsername"   parameterType="String" resultType="com.onlineExam.domain.LoginUser" >
    select username  from t_login where username = #{value}
  </select>
    <!-- 添加学生用户账号 -->
    <insert id="register" parameterType="com.onlineExam.domain.LoginUser">
		INSERT INTO t_login(username,password,roles)
			VALUES(#{username},#{password},#{roles})
	</insert>

	<!-- 添加用户账号信息 -->
	<insert id="addStuInformation" parameterType="com.onlineExam.domain.Student">
		INSERT INTO t_student(username,stuid,stuname,sex,clazz,phone,major,dept,motto)
		VALUES(#{username},#{stuid},#{stuname},#{sex},#{clazz},#{phone},#{major},#{dept},#{motto})
	</insert>

   <!--	修改用户密码-->
	<update id="updatePassword" parameterType="com.onlineExam.domain.LoginUser" >
    update t_login set password = #{password} where username=#{username}
  </update>

    <!--查询用户信息	 -->
    <select id="findInformationByUsername"   parameterType="String" resultType="com.onlineExam.domain.Student" >
    select username,stuid,stuname,sex,clazz,phone,major,dept,motto from t_student where username = #{value}
  </select>

   <!--	修改用户信息-->
	<update id="updateInformation" parameterType="com.onlineExam.domain.Student">
	 update t_student set stuid = #{stuid} ,stuname=#{stuname},sex=#{sex},clazz=#{clazz},phone=#{phone},
	 major=#{major},dept=#{dept},motto=#{motto}
    where username=#{username}
	</update>


    <!--查询所有学生-->
    <select id="getStudentList" resultType="com.onlineExam.domain.Student1">
        select * from student,major,depart,state,clazz where student.majorId=major.majorId and student.departId=depart.departId and student.stateId=state.stateId and student.clazzId=clazz.clazzId
    </select>
    <!--通过id删除学生-->
    <delete id="deleteStudent" parameterType="Integer">
        delete from student where id=#{id}
    </delete>
    <!--通过id查找-->
    <select id="findStudentById" parameterType="Integer" resultType="com.onlineExam.domain.Student1">
        select * from student where id=#{id}
    </select>
    <select id="findStudentByclazzId" resultType="com.onlineExam.domain.Student1">
        select * from student,major,depart,state,clazz where student.majorId=major.majorId and student.departId=depart.departId and student.stateId=state.stateId and id=#{id}
    </select>
    <!--添加学生信息-->
    <insert id="addStudent" parameterType="com.onlineExam.domain.Student1" keyProperty="id" useGeneratedKeys="true">
        insert into student(username,stuid,stuname,stupassword,stuphonenumber,stuemail,clazzId,majorId,departId,stateId)
        values (#{username},#{stuid},#{stuname},#{stupassword},#{stuphonenumber},#{stuemail},#{clazzId},#{majorId},#{departId},#{stateId})
    </insert>
    <!--修改学生信息-->
    <update id="updateStudent" parameterType="com.onlineExam.domain.Student1">
        update student
        <set>
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="stuid!=null and username!=0">
                stuid=#{stuid},
            </if>
            <if test="stuname!=null and stuname!=''">
                stuname=#{stuname},
            </if>
            <!--<if test="stupassword!=null and stupassword!=''">
                stupassword=#{stupassword},
            </if>-->
            <if test="stuphonenumber!=null and stuphonenumber!=''">
                stuphonenumber=#{stuphonenumber},
            </if>
            <if test="stuemail!=null and stuemail!=''">
                stuemail=#{stuemail},
            </if>
            <if test="clazzId!=null and clazzId!=0">
                clazzId=#{clazzId},
            </if>
            <if test="majorId!=null and majorId!=0">
                majorId=#{majorId},
            </if>
            <if test="departId!=null and departId!=0">
                departId=#{departId},
            </if>
            <if test="stateId!=null and stateId!=0">
                stateId=#{stateId}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="queryStudent" resultType="com.onlineExam.domain.Student1">
        select * from student,major,depart,state,clazz where student.majorId=major.majorId and student.departId=depart.departId and student.stateId=state.stateId and student.clazzId=clazz.clazzId
    </select>

    <select id="getClazzList" resultType="com.onlineExam.domain.Clazz">
        select * from clazz
    </select>
    <select id="getMajorList" resultType="com.onlineExam.domain.Major">
        select * from major
    </select>
    <select id="getDepartList" resultType="com.onlineExam.domain.Depart">
        select * from depart
    </select>
    <select id="getStateList" resultType="com.onlineExam.domain.State">
        select * from state
    </select>
</mapper>
