<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineExam.mapper.TeacherMapper">
    <select id="getAllTeacher" resultType="com.onlineExam.domain.Teacher">
        select * from teacher,t_major,t_depart,t_state,t_clazz where teacher.majorId=t_major.majorId and teacher.departId=t_depart.departId and teacher.stateId=t_state.stateId and teacher.clazzId=t_clazz.clazzId
    </select>
    <!--添加教师信息-->
    <insert id="addTeacher" parameterType="com.onlineExam.domain.Teacher" keyProperty="teacherid" useGeneratedKeys="true">
        insert into teacher(username,teachername,teacherpassword,teacherphoneNumber,teacheremail,majorId,departId,stateId,clazzId)
        values (#{username},#{teachername},#{teacherpassword},#{teacherphoneNumber},#{teacheremail},#{majorId},#{departId},#{stateId},#{clazzId})
    </insert>
    <!--通过id删除学生信息-->
    <delete id="deleteTeacher" parameterType="Integer">
        delete  from teacher where teacherid=#{teacherid}
    </delete>
    <select id="findTeacherById" parameterType="Integer" resultType="com.onlineExam.domain.Teacher">
        select * from teacher where teacherid=#{teacherid}
    </select>
    <!--修改教师信息-->
    <update id="updateTeacher" parameterType="com.onlineExam.domain.Teacher">
        update teacher
        <set>
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="teachername!=null and teachername!=''">
                teachername=#{teachername},
            </if>
            <!--<if test="teacherpassword!=null and teacherpassword!=''">
                teacherpassword=#{teacherpassword},
            </if>-->
            <if test="teacherphoneNumber!=null and teacherphoneNumber!=''">
                teacherphoneNumber=#{teacherphoneNumber},
            </if>
            <if test="teacheremail!=null and teacheremail!=''">
                teacheremail=#{teacheremail},
            </if>
            <if test="clazzId!=null and clazzId!=0">
                clazzId=#{clazzId},
            </if>
            <if test="majorId!=null and majorId!=0">
                majorId=#{majorId},
            </if>
            <if test="departId!=null and departId!=0">
                departId=#{departId},
            </if>
            <if test="stateId!=null and stateId!=0">
                stateId=#{stateId}
            </if>

        </set>
        where teacherid=#{teacherid}
    </update>
    <select id="queryTeacher" resultType="com.onlineExam.domain.Teacher">
        select * from teacher,t_major,t_depart,t_state,t_clazz where teachername=#{teachername} and teacher.majorId=t_major.majorId and teacher.departId=t_depart.departId and teacher.stateId=t_state.stateId and teacher.clazzId=t_clazz.clazzId
    </select>
    <select id="getQuestion" resultType="com.onlineExam.domain.StuAnswer">
        select * from t_stuanswer,t_question where stuId=#{stuId} and paperId=#{paperId} and releaseExamId=#{releaseExamId} and t_stuanswer.questionId=t_question.questionId
    </select>
    <!--获取试题-->
    <select id="getQuestion1" resultType="com.onlineExam.domain.Question">
        SELECT * from teacher,t_paper,t_realpaper,t_question where teacher.majorId=t_paper.majorId and t_paper.paperId=t_realpaper.paperId and t_realpaper.questionId=t_question.questionId and teacher.majorId=#{majorId} and teacher.teachername=#{teachername}
    </select>
    <select id="showanalyze" resultType="com.onlineExam.domain.StuAnswer">
        select stuname,stuAnswer,questionId,type from t_stuanswer,t_type,student where questionId=#{questionId} and t_type.isWrong=t_stuanswer.isWrong and t_stuanswer.stuId=student.stuid GROUP BY t_stuanswer.stuId
    </select>
    <select id="getType" resultType="com.onlineExam.domain.QuestionA">
        SELECT t_type.type as type,COUNT(*) as number from t_stuanswer,t_type where  t_stuanswer.isWrong=t_type.isWrong and questionId=#{questionId} GROUP BY t_stuanswer.isWrong
    </select>

    <!--	修改用户信息-->
    <update id="updateInformation" parameterType="com.onlineExam.domain.Teacher">
	 update teacher set teacherphoneNumber=#{teacherphoneNumber},teacheremail=#{teacheremail},
	 clazzId=#{clazzId},majorId=#{majorId},departId=#{departId}
    where username=#{username}
	</update>
    <!--登录验证-->
    <select id="findByUsername"   parameterType="String" resultType="com.onlineExam.domain.LoginUser" >
    select username,password,roles from t_login where username = #{value}
  </select>
    <!--查询教师信息	 -->
    <select id="findTeaByUsername"   parameterType="String" resultType="com.onlineExam.domain.Teacher" >
    select * from teacher where username = #{value}
  </select>
    <select id="getTeaByEmail" resultType="com.onlineExam.domain.Teacher">
        select * from teacher where teacheremail=#{teacheremail}
    </select>
    <!--修改用户密码-->
    <update id="updatePassword" parameterType="com.onlineExam.domain.LoginUser" >
    update t_login set password = #{password} where username=#{username}
  </update>
    <!--	修改教师密码-->
    <update id="updateTeaPassword" parameterType="com.onlineExam.domain.Teacher" >
    update teacher set teacherpassword = #{teacherpassword} where username=#{username}
  </update>
    <!--登录-->
    <select id="login"   parameterType="String" resultType="String" >
    select roles from t_login where username = #{username} and password=#{password}
  </select>
    <!--	验证注册用户名是否存在 -->
    <select id="findRegisterUsername"   parameterType="String" resultType="com.onlineExam.domain.LoginUser" >
    select username  from t_login where username = #{value}
  </select>
    <!-- 添加用户账号 -->
    <insert id="register" parameterType="com.onlineExam.domain.LoginUser">
		INSERT INTO t_login(username,password,roles)
			VALUES(#{username},#{password},#{roles})
	</insert>
    <!-- 添加用户账号信息 -->
    <insert id="addTeacherInfo" parameterType="com.onlineExam.domain.Teacher">
		INSERT INTO teacher(username,teachername,teacherpassword,teacherphoneNumber,teacheremail,majorId,departId,stateId,clazzId)
		VALUES(#{username},#{teachername},#{teacherpassword},#{teacherphoneNumberx},#{teacheremail},#{majorId},#{departId},#{stateId},#{clazzId})
	</insert>
</mapper>