<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>在线考试平台登录页面</title>
  <link href="Ch/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
  <script type="text/javascript" src="js/jQuery1.7.js"></script>
  <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="js/jquery1.42.min.js"></script>
  <script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
  <script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
          var $tab_li = $('#tab ul li');
          $tab_li.hover(function(){
              $(this).addClass('selected').siblings().removeClass('selected');
              var index = $tab_li.index(this);
              $('div.tab_box > div').eq(index).show().siblings().hide();
          });
      });
  </script>
  <script type='text/javascript'>
      $(function () {
          $("#validateCode,#validateCode2").keyup(function(){
              checkLoginValidateCode($(this).val());
          });
      });
      function uploadLoginValidateCode() {
          $("#loginValidateCode,#loginValidateCode2").attr("src","/loginValidateCode?random="+new Date().getMilliseconds());
      }
      function checkLoginValidateCode(validateCode) {
          var error = $("#p,#p2");
          if(validateCode != null && validateCode != ""){
              $.ajax({
                  type: "POST",
                  async:false,
                  url: "/checkLoginValidateCode?validateCode="+validateCode,
                  success : function(json) {
                      if(json != null && json.code == 200 && json.status != null) {
                          if (json.status == true) {
                              error.html("恭喜你验证码，正确！！！！！");
                          } else if(json.status == false){
                              error.html("验证码错误，请重新输入");
                          }else{
                              error.html("验证码过期，请重新输入");
                              uploadLoginValidateCode();
                          }
                      }
                      return false;
                  },
                  error:function(XMLHttpRequest,textStatus,errorThrown){
                      alert("服务器错误！状态码："+XMLHttpRequest.status);
                      // 状态
                      console.log(XMLHttpRequest.readyState);
                      // 错误信息
                      console.log(textStatus);
                      return false;
                  }
              });
          }else{
              error.html("请输入验证码！");
          }
      }
      function stuRegister(){
          window.location.href="sturegister";
      }
      function teaRegister(){
          window.location.href="teacherRegister";
      }
  </script>
</head>
<body>
<div id="tab">
  <ul class="tab_menu">
    <li class="selected">学生登录</li>
    <li>教师登录</li>
    <li>管理员登录</li>
  </ul>
  <div class="tab_box">
    <!-- 学生登录 -->
    <div>
      <div class="stu_error_box"></div>
      <form action="stuLogin" method="post"  class="stu_login_error">
        <div id="stuname">
          <label>用户名：</label>
          <input type="text" id="stu_username_hide" name="username" />
          <!--ajaxurl="demo/valid.jsp"-->
        </div>
        <div id="stupwd">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="stu_password_hide" name="password" />
        </div>
        <div id="code">
          <label>验证码：</label>
          <!--<input type="text" id="tea_code_hide" name="code" />-->
          <input type="text" id="validateCode" name="validateCode" />
          <img  title="点击更换" alt="验证码占位图" id="loginValidateCode" height="40" width="150"  style="cursor: pointer;" src="/loginValidateCode" onclick="uploadLoginValidateCode();"/> </div>
        <p  id="p2" style="color: red"></p>
        <div id="remember">
          <input type="checkbox" name="rememberMe">
          <label>记住密码</label>
        </div>
        <!--<div id="login">
          <button type="submit" onclick="checkLogin()">登录</button>
        </div>-->
        <div class="">
          <input type="submit"  value="登录" name="submit"
                 style="background: red; height: 40px; width: 120px; color: white;">
          <input type="button"  value="注册" onclick="stuRegister()"
                 style="background: red; height: 40px; width: 120px; color: white;">
        </div>
      </form>
    </div>
    <!-- 教师登录-->
    <div class="hide">
      <div class="tea_error_box"></div>
      <form action="TeaLogin" method="post"  class="tea_login_error">
        <div id="teaid">
          <label>账&nbsp;&nbsp;&nbsp;号：</label>
          <input type="text" id="tea_username_hide" name="username" />
          <!--ajaxurl="demo/valid.jsp"-->
        </div>
        <div id="teapwd">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="tea_password_hide" name="password" />
        </div>
        <div id="code">
          <label>验证码：</label>
          <!--<input type="text" id="stu_code_hide" name="code" />-->
          <input type="text" id="validateCode2" name="validateCode" />
          <img  title="点击更换" alt="验证码占位图" id="loginValidateCode2" height="40" width="150"  style="cursor: pointer;" src="/loginValidateCode" onclick="uploadLoginValidateCode();"/> </div>
        <p  id="p" style="color: red"></p>
        <div id="remember">
          <input type="checkbox" name="rememberMe">
          <label>记住密码</label>
        </div>
        <!--<div id="login">
          <button type="submit" onclick="checkLogin()">登录</button>
        </div>-->
        <div class="">
          <input type="submit"  value="登录" name="submit"
                 style="background: red; height: 40px; width: 120px; color: white;">
          <input type="button"  value="注册" onclick="teaRegister()"
                 style="background: red; height: 40px; width: 120px; color: white;">
        </div>
      </form>
    </div>
    <!-- 管理员登录-->
    <div class="hide">
      <div class="sec_error_box"></div>
      <form action="loginPage" method="post"  class="stu_login_error">
        <div id="adminname">
          <label>账&nbsp;&nbsp;&nbsp;号：</label>
          <input type="text" id="manager_username_hide" name="uid" />
          <!--ajaxurl="demo/valid.jsp"-->
        </div>
        <div id="adminpwd">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="manager_password_hide" name="password" />
        </div>
        <div id="code">
          <label>验证码：</label>
          <!--<input type="text" id="manager_code_hide" name="code" />-->
          <input type="text" id="validateCode3" name="validateCode" />
          <img  title="点击更换" alt="验证码占位图" id="loginValidateCode3" height="40" width="150"  style="cursor: pointer;" src="/loginValidateCode" onclick="uploadLoginValidateCode();"/> </div>
        <p  id="p3" style="color: red"></p>
        <div id="remember3">
          <input type="checkbox" name="rememberMe">
          <label>记住密码</label>
        </div>
        <div id="login">
          <button type="submit" onclick="">登录</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="screenbg">
  <ul>
    <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
  </ul>
</div>
</body>
</html>
