<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">	
	<link rel="stylesheet" type="text/css" th:href="@{layui/css/layui.css}" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{Wjl/common/bootstrap/css/bootstrap.css}" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{Wjl/common/global.css}" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{Wjl/css/personal.css}" media="all">
</head>
<body>
<section class="layui-larry-box">
	<div class="larry-personal">
		<header class="larry-personal-tit">
			<span>个人信息</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span style="color:red;font-size: 20px;" th:text="${msg}"></span>
		</header><!-- /header -->
		<div class="larry-personal-body clearfix">
			<form class="layui-form col-lg-5" action="/ChangeStuInfo" method="post">
				<!--<div class="layui-form-item">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">  
						<input type="text" name="title"  autocomplete="off"  class="layui-input layui-disabled" disabled   >
					</div>
				</div>-->
				<!--<div class="layui-form-item">
					<label class="layui-form-label">所属角色</label>
					<div class="layui-input-block">
						<input type="text" name="username"  autocomplete="off" class="layui-input layui-disabled" value="超级管理员" disabled="disabled">
					</div>
				</div>-->
				<div class="layui-form-item">
					<label class="layui-form-label">学号</label>
					<div class="layui-input-block">
						<input type="text" name="stuid"   autocomplete="off" class="layui-input" th:value="${session.stuid}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">姓名</label>
					<div class="layui-input-block">
						<input type="text" name="stuname"  autocomplete="off" class="layui-input" th:value="${session.stuname}">
					</div>
				</div>
				<!--<div class="layui-form-item">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-block">
                           <input type="radio"  name="sex" value="男" title="男" th:checked=" '男' eq ${session.sex}"><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><span>男</span></div>
                           <input type="radio"  name="sex" value="女" title="女" th:checked=" '女' eq ${session.sex}"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>女</span></div>
                    </div>
				</div>-->
				<div class="layui-form-item">
					<label class="layui-form-label">班级</label>
					<div class="layui-input-block">
						<input type="text" name="clazz"  autocomplete="off" class="layui-input" placeholder="输入班级" th:value="${session.clazzId}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">手机号码</label>
					<div class="layui-input-block">
						<input type="text" name="phone"  autocomplete="off" class="layui-input" placeholder="输入手机号码" th:value="${session.stuphonenumber}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">邮箱</label>
					<div class="layui-input-block">
						<input type="text" name="email"  autocomplete="off" class="layui-input" placeholder="输入邮箱" th:value="${session.stuemail}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">专业</label>
					<div class="layui-input-block">
						<input type="text" name="major"  autocomplete="off" class="layui-input" placeholder="输入专业" th:value="${session.majorId}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">院系</label>
					<div class="layui-input-block">
						<input type="text" name="dept"  autocomplete="off" class="layui-input" placeholder="输入专业" th:value="${session.departId}">
					</div>
				</div>
                <!--<div class="layui-form-item">
                    <label class="layui-form-label">修改头像</label>
                    <div class="layui-input-inline uploadHeadImage">
                        <div class="layui-upload-drag" id="headImg">
                            <i class="layui-icon"></i>
                            <p>点击上传图片，或将图片拖拽到此处</p>
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-upload-list">
                            <img class="layui-upload-img headImage" src="http://t.cn/RCzsdCq" id="demo1">
                            <p id="demoText"></p>
                        </div>
                    </div>
                </div>-->
				<!--<div class="layui-form-item">
					<label class="layui-form-label">修改头像</label>
					<div class="layui-input-block">
						<input type="file" name="file" class="layui-upload-file">
					</div>
				</div>-->
				<!--<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">座右铭</label>
					<div class="layui-input-block">
						<textarea name="motto"  th:text="${session.motto}" class="layui-textarea"></textarea>
					</div>
				</div>-->
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn"  lay-submit="" lay-filter="demo1">确认修改</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<script type="text/javascript" th:src="@{Wjl/common/layui/layui.js}"></script>
<script type="text/javascript">
	layui.use(['form','upload'],function(){
         var form = layui.form();
         layui.upload({
             url: '' ,//上传接口
             success: function(res){
              //上传成功后的回调 
              console.log(res) 
            } 
         });
	});
</script>
    <!--<script type="text/javascript">
        layui.use(["jquery", "upload", "form", "layer", "element"], function () {
            var $ = layui.$,
                element = layui.element,
                layer = layui.layer,
                upload = layui.upload,
                form = layui.form;
            //拖拽上传
            var uploadInst = upload.render({
                elem: '#headImg'
                , url: '/upload/headImg'
                , size: 500
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    //上传成功
                    //打印后台传回的地址: 把地址放入一个隐藏的input中, 和表单一起提交到后台, 此处略..
                    /*   console.log(res.data.src);*/
                    window.parent.uploadHeadImage(res.data.src);
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #8f8f8f;">上传成功!!!</span>');
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });
            element.init();
        });
    </script>-->
</body>
</html>