<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>我的工作台 - EasySchool</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex,nofollow">
    <script th:src="@{http://www.jq22.com/jquery/jquery-1.10.2.js}"></script>
    <script th:src="@{/Wjl/resources/script/configBase.js}"></script>
    <script th:src="@{/Wjl/resources/script/exam/exam.js}"></script>
</head>
<body>
<!--主体框架开始-->
<div class="pagebox" id="pageContentId">
    <div class="home-desktop" id="desktop_scroll">
        <div style="width:100%; position: relative;">
            <div class="title">
                <div class="name left">教师出题</div>
                <div class="function left">
                </div>
                <div class="clear"></div>
            </div>
            <!--<table class="layui-table" lay-filter="demo">
                <thead>
                <tr>a</tr>
                <tr>a</tr>
                </thead>-->
            <!-- <ul class="ui-questions-content-list" >
                 <li class="ui-module items-questions"  style="width: 100%;">
                     <div class="theme-type">
                     &lt;!&ndash;    <div class="module-menu">
                             <h4></h4>
                             <div class="module-ctrl">
                                 <a href="javascript:void(0);" class="ui-clone-btn" data-tisp="修改"><i class="icon-clone"></i></a>
                                 <a href="javascript:void(0);" class="ui-del-btn" data-tisp="删除"><i class="icon-del"></i></a>
                             </div>
                         </div>&ndash;&gt;
                         <div class="ui-drag-area">
                             <div class="cq-title T_edit T_plugins" data-Tid="1"><span style="font-size:16px;">单选题目标题</span></div>
                         </div>
                         <div class="cq-items-content">
                             <ul class="cq-unset-list" data-checkType="" data-nameStr="">
                                 <li><label class="input-check" style="font-weight: bold">A</label>
                                     <div class="cq-answer-content T_edit T_plugins" data-Tid="">1111</div>
                                 </li>
                                 <li><label class="input-check" style="font-weight: bold">B</label>
                                     <div class="cq-answer-content T_edit T_plugins" data-Tid="">1111</div>
                                 </li>
                                 <li><label class="input-check" style="font-weight: bold">C</label>
                                     <div class="cq-answer-content T_edit T_plugins" data-Tid="">11</div>
                                 </li>
                                 <li><label class="input-check" style="font-weight: bold">D</label>
                                     <div class="cq-answer-content T_edit T_plugins" data-Tid="">111</div>
                                 </li>
                             </ul>
                             <div class="cq-items-ctrl">

                                 <label class="input-check">正确答案：<span style="color: green;font-weight: bold">A</span></label>

                             </div>
                         </div>
                     </div>
                 </li>

             </ul>-->
            <!--
            </table>-->







            <div class="create-questions-content">
                <!--出题-->
              <div class="create-questions">

                  <ul class="ui-questions-content-list">
                  <li class="ui-module items-questions">
                      <div class="theme-type">
                          <div class="module-menu">
                              <h4></h4>
                              <div class="module-ctrl">
                                  <a href="javascript:void(0);" class="ui-up-btn" data-tisp="上移"><i class="icon-up"></i></a>
                                  <a href="javascript:void(0);" class="ui-down-btn" data-tisp="下移"><i class="icon-down"></i></a>
                                  <a href="javascript:void(0);" class="ui-clone-btn" data-tisp="复制"><i class="icon-clone"></i></a>
                                  <a href="javascript:void(0);" class="ui-del-btn" data-tisp="删除"><i class="icon-del"></i></a>
                              </div>
                          </div>
                          <div class="ui-drag-area">
                              <div class="cq-title T_edit T_plugins" data-Tid="1"><span style="font-size:16px;">单选题目标题</span></div>
                          </div>
                          <div class="cq-items-content">
                              <ul class="cq-unset-list" data-checkType="" data-nameStr="">

                                  <li><label class="input-check">
                                      <input type="radio" name="a" value="a"></label>
                                      <div class="cq-answer-content T_edit T_plugins" data-Tid="">选项A</div>
                                  </li>

                              </ul>
                              <div class="cq-items-ctrl">
                                  <a href="javascript:void(0);" class="ui-add-item-btn" data-tisp="添加">
                                      <i class="icon-add"></i></a>
                                  <a href="javascript:void(0);" class="ui-batch-item-btn" data-tisp="批量添加">
                                      <i class="icon-addList"></i></a>
                                  <a href="javascript:void(0);" class="ui-add-answer-btn" data-tisp="添加答案解析">
                                      <i class="icon-assignment"></i></a>
                              </div>
                          </div>
                      </div>
                  </li>
                  </ul>

              </div>
            </div>
            <div style="height:40px; margin: 20px 0; text-align: right;">
                <button type="button" class="cotrlBtn exam-save-btn btnBlue" id="saveQuestion" style="height:40px;width: 140px; font-size:18px;">保存试题</button>
            </div>
        </div>
    </div>

    <!--选择题-->
  <!--  <script type="text/html" id="drag_choice">-->
    <div>
        <li class="ui-module items-questions">
            <div class="theme-type">
                <div class="module-menu">
                    <h4></h4>
                    <div class="module-ctrl">
                        <a href="javascript:void(0);" class="ui-up-btn" data-tisp="上移"><i class="icon-up"></i></a>
                        <a href="javascript:void(0);" class="ui-down-btn" data-tisp="下移"><i class="icon-down"></i></a>
                        <a href="javascript:void(0);" class="ui-clone-btn" data-tisp="复制"><i class="icon-clone"></i></a>
                        <a href="javascript:void(0);" class="ui-del-btn" data-tisp="删除"><i class="icon-del"></i></a>
                    </div>
                </div>
                <div class="ui-drag-area">
                    <div class="cq-title T_edit T_plugins" data-Tid="1"><span style="font-size:16px;">单选题目标题</span></div>
                </div>
                <div class="cq-items-content">
                    <ul class="cq-unset-list" data-checkType="" data-nameStr="">

                        <li><label class="input-check">
                            <input type="radio" name="a" value="a"></label>
                            <div class="cq-answer-content T_edit T_plugins" data-Tid="">选项A</div>
                        </li>

                    </ul>
                    <div class="cq-items-ctrl">
                        <a href="javascript:void(0);" class="ui-add-item-btn" data-tisp="添加">
                            <i class="icon-add"></i></a>
                        <a href="javascript:void(0);" class="ui-batch-item-btn" data-tisp="批量添加">
                            <i class="icon-addList"></i></a>
                        <a href="javascript:void(0);" class="ui-add-answer-btn" data-tisp="添加答案解析">
                            <i class="icon-assignment"></i></a>
                    </div>
                </div>
            </div>
        </li>
<!--    </script>-->
    </div>


    <script type="text/html" id="drag_T_edit">
        <div class="cq-into-edit">
            <div class="add-edit cq-edit-title" contenteditable="true">{{title}}</div>
        </div>
    </script>
    <script type="text/html" id="T_edit_plugins">
        <div class="edit-plug-box">
            <a href="javascript:void(0);"><i class="icon-picChoice"></i></a>
            <a href="javascript:void(0);"><i class="icon-title"></i></a>
        </div>
    </script>
    <script type="text/html" id="ui_additem_content">
        {{each items as itemData i}}
        <li><label class="input-check"><input type="{{if type==1}}radio{{else if type==2}}checkbox{{/if}}" name="{{name}}" value="{{itemData.value}}"></label>
            <div class="cq-answer-content T_edit T_plugins" data-Tid="{{itemData.tid}}">选项{{i+1+index}}</div>
        </li>
        {{/each}}
    </script>
    <script type="text/html" id="analysis_tmp">
        <textarea class="exam-textarea analysis_contx" placeholder="请在此填写答案解析"></textarea>
    </script>

    <script type="text/javascript">
        $(function() {
            exam.init();
            $("select").dcselect();
            $('#saveQuestion').on('click',function(){
                var dataBase={},questionItems=[];
                dataBase.questionTitle=$('#questionTitle').html();
                dataBase.questionExamTitle=$('#questionExamTitle').html();
                //封装所有题列表，遍历提取值analysis（答案）、题列表（数组对象）；
                $('.ui-questions-content-list').children('li').each(function(i){
                    var dataTx={},qListItems=[];
                    dataTx.QItemsTitle=$(this).find('.cq-title').html();
                    //封装单题，遍历提取值name、value、checkCurr（选中状态）；
                    $(this).find('ul.cq-unset-list').children('li').each(function(j){
                        var listItems={};
                        listItems.name=$(this).find('input').attr('name');
                        listItems.value=$(this).find('input').val();
                        listItems.checkCurr=$(this).find('input').prop('checked');
                        qListItems.push(listItems)
                    });
                    dataTx.analysis=$(this).find('.analysis_contx').val()||0;
                    dataTx.qListItems=qListItems;
                    questionItems.push(dataTx);
                });
                dataBase.questionItems=questionItems;
                console.log(JSON.stringify(dataBase));
                alert(dataBase);
            });
        });
    </script>
</div>
<!--主体框架结束-->
</body>
</html>