<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>

</head>
<body>

<div class="demoTable" style="padding: 15px">

    <div class="layui-inline">
        <input placeholder="输入学生学号" class="layui-input" id="stuInfoId" name="stuInfoId" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload" onclick="queryStuInfo()" >搜索</button>
    <a type="button" class="layui-btn" data-type="reload" href="/studentInfo" >刷新</a>
    <script>
        function queryStuInfo () {
            var stuId = $('#stuInfoId').val()
            $.ajax({
                url:'/queryStuInfo',
                type:'post',
                data:{
                    stuId:stuId,
                },
                success:function () {
                    layer.msg('查询中...', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        window.location.href="/showStu?stuId="+stuId;
                    });
                }
            })
        }

    </script>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{/getImport}" ><button type="button" class="layui-btn">
        <i class="layui-icon">&#xe608;</i> 导出成绩信息
    </button>
    </a>
</div>



<hr>
<table class="layui-table" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field:'1', width:300}">学号</th>
        <th lay-data="{field:'2', width:300}">学生姓名</th>
        <th lay-data="{field:'5', width:300}">所属班级</th>
        <th lay-data="{field:'6'}">专业</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each ="student :${list}">
        <td th:text="${student.stuid}"></td>
        <td th:text="${student.stuname}"></td>
        <td th:text="${student.clazzName}"></td>
        <td th:text="${student.departName}"></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<!--<script th:src="@{/layui/layui.js}"></script>-->
<script>
    //静态表格布局
    layui.use('table',function() {
        var table = layui.table;//加载表格模块
        /*var $ = layui.jquery;*/
        /*  var $ = layui.jquery;*/
        table.init('demo', {
            height: 465 //设置高度
            , page: true //开启分页
        });
    });
</script>
<script>
    //对弹出层的form 进行渲染;
    layui.use('form', function(){
        var form = layui.form;
        $('#addQuestion').click(function(){
            layer.open({
                //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                type:1,
                title:"学生信息录入",
                area: ['65%','65%'],
                content:$("#popSearchRoleTest"),
            });
            form.render();
        });
    });


    function updateIndex(obj,id) {
        layer.open({
            type:2,
            title: "试题修改",
            area: ['82%', '82%'],
            content: '/updateQues?questionId='+id,

        });


</script>


<script>
    layui.use('layer', function(){
        var layer = layui.layer;

    });

</script>
</body>
</html>