<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>正在考试</title>
    <script type="text/javascript"
            src="//api.map.baidu.com/api?v=2.0&ak=OfMzjrzcNpMcHzayyMVGY3YLCQ6we3KU"></script>
    <link th:href="@{/Wjl/css/main2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/Wjl/css/iconfont.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/Wjl/css/test.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/Rzh/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/Rzh/layui/css/modules/layer/default/layer.css}">
    <script type="text/javascript" th:src="@{/Rzh/js/jQuery1.7.2.js}"></script>
    <script type="text/javascript" th:src="@{/Rzh/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/Rzh/layer/layer.js}"></script>
    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color: #fff;
        }

        .reading h2 {
            width: 100%;
            margin: 20px 0 70px;
            text-align: center;
            line-height: 2;
            font-size: 20px;
            color: #59595b;
        }

        .reading h2 a {
            text-decoration: none;
            color: #59595b;
            font-size: 20px;
        }

        .reading h2 a:hover {
            color: #2183f1;
        }
    </style>
</head>

<body onblur="leaveHTML()">
<div class="main">
    <!--nr start-->
    <div class="test_main">
        <div class="nr_left">
            <div class="test">
                <form action="" method="post">
                    <div class="test_title">
                        <p class="test_time" id="timer" style="font-size:20px;">
                            <i class="icon iconfont">&#xe6fb;</i>
                        </p>
                        <input type="hidden" th:value="${examTime}" id="examTime">
                        <input type="hidden" th:value="${paperId}" id="paperId">
                        <input type="hidden" th:value="${releaseExamId}" id="releaseExamId">
                        <font><input type="button" id="jiaojuan" value="交卷" th:onclick="|javascript:getAll()|"></font>
                    </div>

                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>单选题</h2>
                            <p>
                                <input type="hidden" name="radioCount" id="radioCount" th:value="${radioCount}">
                                <span>共</span><i class="content_lit"><span
                                    th:text="${radioCount}">30</span></i><span>题，</span><span>合计</span><i
                                    class="content_fs"><span th:text="${radioScore}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul>
                            <li th:each="radioQuestion,state:${radioQuestions}" th:id="'qu_0_'+${state.index}">

                                <div class="test_content_nr_tt">
                                    <input type="hidden" th:name="'rquestion'+${state.index+1}"
                                           th:value="${radioQuestion.questionId}">
                                    <i th:text="${state.index+1}"></i><span
                                        th:text="'('+${radioQuestion.questionScore}+')'+'分'">(1分)</span><span
                                        th:text="${radioQuestion.questionName}"><font>以下属于南方电网员工职业操守中明文规定的有()</font></span><b
                                        class="icon iconfont">&#xe881;</b>
                                </div>

                                <div class="test_content_nr_main">
                                    <ul>
                                        <li class="option">
                                            <input type="radio" class="radioOrCheck"
                                                   th:name="'ranswer'+${state.index+1}"
                                                   th:id="'0_answer_'+${state.index+1}+'_option_1'" th:value="A"/>
                                            <label th:for="'0_answer_'+${state.index+1}+'_option_1'">
                                                A.
                                                <p class="ue" style="display: inline;"
                                                   th:text="${radioQuestion.optionA}">在工具栏中点击“workflow”标签</p>
                                            </label>
                                        </li>

                                        <li class="option">
                                            <input type="radio" class="radioOrCheck"
                                                   th:name="'ranswer'+${state.index+1}"
                                                   th:id="'0_answer_'+${state.index+1}+'_option_2'" th:value="B"/>
                                            <label th:for="'0_answer_'+${state.index+1}+'_option_2'">
                                                B.
                                                <p class="ue" style="display: inline;"
                                                   th:text="${radioQuestion.optionB}">在缺陷单界面中点击“推进流程”按钮</p>
                                            </label>
                                        </li>

                                        <li class="option">
                                            <input type="radio" class="radioOrCheck"
                                                   th:name="'ranswer'+${state.index+1}"
                                                   th:id="'0_answer_'+${state.index+1}+'_option_3'" th:value="C"/>
                                            <label th:for="'0_answer_'+${state.index+1}+'_option_3'">
                                                C.
                                                <p class="ue" style="display: inline;"
                                                   th:text="${radioQuestion.optionC}">在缺陷单界面中点击“提交”按钮</p>
                                            </label>
                                        </li>

                                        <li class="option">
                                            <input type="radio" class="radioOrCheck"
                                                   th:name="'ranswer'+${state.index+1}"
                                                   th:id="'0_answer_'+${state.index+1}+'_option_4'" th:value="D"/>
                                            <label th:for="'0_answer_'+${state.index+1}+'_option_4'">
                                                D.
                                                <p class="ue" style="display: inline;"
                                                   th:text="${radioQuestion.optionD}">后台启动流程推进</p>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>多选题
                            </h2>
                            <p>
                                <input type="hidden" name="count" id="checkBoxCount" th:value="${checkBoxCount}">
                                <span>共</span><i class="content_lit"><span
                                    th:text="${checkBoxCount}">30</span></i><span>题，</span><span>合计</span><i
                                    class="content_fs"><span th:text="${checkBoxScore}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul>
                            <li th:each="checkBoxQuestion,state:${checkBoxQuestion}" th:id="'qu_1_'+${state.index}">
                                <div class="test_content_nr_tt">
                                    <input type="hidden" th:name="'question'+${state.index+1}"
                                           th:value="${checkBoxQuestion.questionId}">
                                    <i th:text="${state.index+1}"></i><span
                                        th:text="'('+${checkBoxQuestion.questionScore}+')'+'分'">(1分)</span><span
                                        th:text="${checkBoxQuestion.questionName}"><font>以下属于南方电网员工职业操守中明文规定的有()</font></span><b
                                        class="icon iconfont">&#xe881;</b>
                                </div>
                                <div class="test_content_nr_main">
                                    <ul>
                                        <li class="option">
                                            <input type="checkbox" class="radioOrCheck"
                                                   th:name="'answer'+${state.index+1}"
                                                   th:id="'1_answer_'+${state.index+1}+'_option_1'" th:value="A"/>
                                            <label th:for="'1_answer_'+${state.index+1}+'_option_1'">
                                                A.
                                                <p class="ue" style="display: inline;"
                                                   th:text="${checkBoxQuestion.optionA}">热爱祖国、热爱南网、热爱岗位</p>
                                            </label>
                                        </li>
                                        <li class="option">
                                            <input type="checkbox" class="radioOrCheck"
                                                   th:name="'answer'+${state.index+1}"
                                                   th:id="'1_answer_'+${state.index+1}+'_option_2'" th:value="B"/>
                                            <label th:for="'1_answer_'+${state.index+1}+'_option_2'">
                                                B.
                                                <p class="ue" style="display: inline;"
                                                   th:text="${checkBoxQuestion.optionB}">遵纪守法、忠于职守、令行禁止</p>
                                            </label>
                                        </li>
                                        <li class="option">
                                            <input type="checkbox" class="radioOrCheck"
                                                   th:name="'answer'+${state.index+1}"
                                                   th:id="'1_answer_'+${state.index+1}+'_option_3'" th:value="C"/>
                                            <label th:for="'1_answer_'+${state.index+1}+'_option_3'">
                                                C.
                                                <p class="ue" style="display: inline;"
                                                   th:text="${checkBoxQuestion.optionC}">客户至上、诚实守信、优质服务</p>
                                            </label>
                                        </li>

                                        <li class="option">
                                            <input type="checkbox" class="radioOrCheck"
                                                   th:name="'answer'+${state.index+1}"
                                                   th:id="'1_answer_'+${state.index+1}+'_option_4'" th:value="D"/>
                                            <label th:for="'1_answer_'+${state.index+1}+'_option_4'">
                                                D.
                                                <p class="ue" style="display: inline;"
                                                   th:text="${checkBoxQuestion.optionD}">公平竞争、互相监督、服从监管</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>简答题
                            </h2>
                            <p>
                                <input type="hidden" name="shortAnswerCount" id="shortAnswerCount"
                                       th:value="${shortAnswerCount}">
                                <span>共</span><i class="content_lit"><span
                                    th:text="${shortAnswerCount}">30</span></i><span>题，</span><span>合计</span><i
                                    class="content_fs"><span th:text="${shortAnswerScore}"></span></i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul>
                            <li th:each="shortAnswerQuestion,state:${shortAnswerQuestion}"
                                th:id="'qu_2_'+${state.index}">
                                <div class="test_content_nr_tt">
                                    <input type="hidden" th:name="'squestion'+${state.index+1}"
                                           th:value="${shortAnswerQuestion.questionId}">
                                    <i th:text="${state.index+1}"></i><span
                                        th:text="'('+${shortAnswerQuestion.questionScore}+')'+'分'">(1分)</span><span
                                        th:text="${shortAnswerQuestion.questionName}"><font>以下属于南方电网员工职业操守中明文规定的有()</font></span><b
                                        class="icon iconfont">&#xe881;</b>
                                </div>
                                <div class="test_content_nr_main">
                                    <ul>
                                        <li class="option">
                                            <label>
                                                <p class="ue" style="display: inline;"><textarea id="answer"
                                                                                                 class="layui-input"
                                                                                                 th:name="'sanswer'+${state.index+1}"
                                                                                                 style="width: 796px; height: 86px;outline: none;"></textarea>
                                                </p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="nr_right">
            <div class="nr_rt_main">
                <div class="rt_nr1">
                    <div class="rt_nr1_title">
                        <h1>
                            <i class="icon iconfont">&#xe692;</i>答题卡
                        </h1>
                        <p class="test_time" id="timertop" style="font-size:20px;">
                        </p>
                    </div>
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span
                                    th:text="${radioCount}"></span></i><span>题</span>
                            </p>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                <li th:each="radioQuestion,state:${radioQuestions}"><a
                                        th:href="'#qu_0_'+${state.index}"><span th:text="${state.index+1}">1</span></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>多选题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span
                                    th:text="${checkBoxCount}"></span></i><span>题</span>
                            </p>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                <li th:each="checkBoxQuestion,state:${checkBoxQuestion}"><a
                                        th:href="'#qu_1_'+${state.index}"><span th:text="${state.index+1}">1</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>简答题</h2>
                            <p>
                                <span>共</span><i class="content_lit"><span
                                    th:text="${shortAnswerCount}"></span></i><span>题</span>
                            </p>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                <li th:each="shortAnswerQuestion,state:${shortAnswerQuestion}"><a
                                        th:href="'#qu_2_'+${state.index}"><span th:text="${state.index+1}">1</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--nr end-->


    <div class="foot"></div>


</div>

<script th:src="@{/Wjl/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/Wjl/js/jquery.easy-pie-chart.js}"></script>
<!--时间js-->
<script th:src="@{/Wjl/time/jquery.countdown.js}"></script>
<script>
    window.jQuery(function ($) {
        "use strict";

        $('time').countDown({
            with_separators: false
        });
        $('.alt-1').countDown({
            css_class: 'countdown-alt-1'
        });
        $('.alt-2').countDown({
            css_class: 'countdown-alt-2'
        });

    });


    $(function () {
        $('li.option label').click(function () {
            debugger;
            var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id');
            /*得到题目ID*/
            var cardLi = $('a[href=#' + examId + ']');
            /*根据题目ID找到对应答题卡*/
            /*设置已答题*/
            if (!cardLi.hasClass('hasBeenAnswer')) {
                cardLi.addClass('hasBeenAnswer');
            }

        });
    });
</script>
<script type="text/javascript" th:inline="none">
    function getAll() {
        var paperId = $("#paperId").val();
        var releaseExamId = $("#releaseExamId").val();
        var length = Number($("#checkBoxCount").val());
        var length1 = Number($("#radioCount").val());
        var length2 = Number($("#shortAnswerCount").val());
        console.log(typeof (length));
        console.log(paperId);
        console.log(releaseExamId);
        answers = [];
        questionIds = [];
        var flag = false;
        var i, j, s;
        for (j = 1; j < length1 + 1; j++) {
            robj0 = document.getElementsByName("rquestion" + j);
            robj = document.getElementsByName("ranswer" + j);
            checked = [];
            for (k in robj) {
                if (robj[k].checked)
                    checked.push(robj[k].value);
            }
            answers.push(checked.join(""));
            questionIds.push(robj0[0].value);
        }
        for (i = 1; i < length + 1; i++) {
            obj0 = document.getElementsByName("question" + i);
            obj = document.getElementsByName("answer" + i);
            check_val = [];
            for (k in obj) {
                if (obj[k].checked)
                    check_val.push(obj[k].value);
            }
            questionIds.push(obj0[0].value);
            answers.push(check_val.join(""));
        }
        for (s = 1; s < length2 + 1; s++) {
            sobj0 = document.getElementsByName("squestion" + s);
            sobj = document.getElementsByName("sanswer" + s);
            questionIds.push(sobj0[0].value);
            answers.push(String(sobj[0].value));
        }
        console.log(questionIds);
        console.log(answers);
        var answer = JSON.stringify(answers);
        var questionId = JSON.stringify(questionIds);
        $.ajax({
            url: 'getScore',
            type: 'get',
            data: {'answers': answer, 'questionIds': questionId, 'paperId': paperId, 'releaseExamId': releaseExamId},
            dataType: 'json',
            contentType: 'application/json',
            success: function (res) {
                if (1) {
                    layer.msg("交卷中，正在判分...", {icon: 1, time: 2000}, function () {
                        window.location.href = "/successSubmit?score=" + res;
                    });
                }
            }
        })
    }
</script>
//自动交卷
<script type="text/javascript">
    var examTime = $("#examTime").val();

    function CountDown() {
        if (examTime >= 1) {
            minutes = Math.floor(examTime / 60);
            seconds = Math.floor(examTime % 60);
            console.log(minutes);
            console.log(seconds);
            msg = "距离考试结束还有" + minutes + "分" + seconds + "秒" + "届时自动交卷";
            msgtop = "剩余" + minutes + "分" + seconds + "秒"
            document.getElementById("timer").innerHTML = msg;
            document.getElementById("timertop").innerHTML = msgtop;
            /* if (examTime == 5 * 60)alert("还剩5分钟"); */
            --examTime;
        } else {
            clearInterval(timer);
            clearInterval(timertop);
            setTimeout(function () {
                if (document.all) {
                    document.getElementById("jiaojuan").click();
                }
                else {
                    var e = document.createEvent("MouseEvents");
                    e.initEvent("click", true, true);
                    document.getElementById("jiaojuan").dispatchEvent(e);
                }
            }, 2000);
        }
    }

    setInterval("CountDown()", 1000);
</script>

<script>
    /*鼠标离开页面 自动交卷*/
    function leaveHTML() {
        layer.msg('你已离开界面，考试自动结束！', {icon: 1, time: 2000}, function () {
            var length = Number($("#checkBoxCount").val());
            var length1 = Number($("#radioCount").val());
            var length2 = Number($("#shortAnswerCount").val());

            console.log(typeof (length));
            answers = [];
            questionIds = [];
            var i, j, s;
            for (j = 1; j < length1 + 1; j++) {
                robj0 = document.getElementsByName("rquestion" + j);
                robj = document.getElementsByName("ranswer" + j);
                checked = [];
                for (k in robj) {
                    if (robj[k].checked)
                        checked.push(robj[k].value);
                }
                answers.push(checked.join(""));
                questionIds.push(robj0[0].value);
            }
            for (i = 1; i < length + 1; i++) {
                obj0 = document.getElementsByName("question" + i);
                obj = document.getElementsByName("answer" + i);
                check_val = [];
                for (k in obj) {
                    if (obj[k].checked)
                        check_val.push(obj[k].value);
                }
                questionIds.push(obj0[0].value);
                answers.push(check_val.join(""));
            }
            for (s = 1; s < length2 + 1; s++) {
                sobj0 = document.getElementsByName("squestion" + s);
                sobj = document.getElementsByName("sanswer" + s);
                questionIds.push(sobj0[0].value);
                answers.push(String(sobj[0].value));
            }
            console.log(questionIds);
            console.log(answers);
            var answer = JSON.stringify(answers);
            var questionId = JSON.stringify(questionIds);
            $.ajax({
                url: 'getScore',
                type: 'get',
                data: {'answers': answer, 'questionIds': questionId},
                dataType: 'json',
                contentType: 'application/json',
                success: function (res) {
                    if (1) {
                        layer.msg("你已离开页面 自动交卷中...", {icon: 2, time: 2000}, function () {
                            window.location.href = "/successSubmit?score=" + res;
                        });
                    }
                }
            })
        });
    }
</script>
</body>
</html>


