<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.thymeleaf.org">
<head th:replace="head::copy">
</head>
<body class="layui-layout-body">
<div class="layui-container">
    <div style="width: auto;height: 80px;"></div>
    <div style="text-align: center;">
        <form class="layui-form" onclick="return false;" >

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">院系名称</label>
                    <div class="layui-input-block" style="width:300px;">
                        <select name="departId" lay-filter="type">
                            <option th:each="depart:${departs}" th:text="${depart.departName}" th:value="${depart.departId}">部门</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">专业名称</label>
                    <div class="layui-input-block" style="width:300px;">
                        <select name="majorId" lay-filter="majorId">
                            <option th:each="major:${majors}" th:text="${major.majorName}" th:value="${major.majorId}" >专业</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-block" style="width:300px;">
                        <select name="courseId" lay-filter="courseId">
                            <option th:each="course:${courses}" th:text="${course.courseName}" th:value="${course.courseId}">课程</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">选择试卷</label>
                    <div class="layui-input-block" style="width:300px;">
                        <select name="paperId" lay-filter="paperId">
                            <option th:each="paper:${papers}" th:text="${paper.paperName}" th:value="${paper.paperId}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-block" style="width:300px;">
                        <input type="text" id="borrowtimebox" name="beginTime"
                               class="layui-input" placeholder="请输入">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">负责老师</label>
                    <div class="layui-input-block" style="width:300px;">
                        <select name="authorId" lay-filter="authorId">
                            <option th:each="teacher:${teachers}" th:text="${teacher.teachername}" th:value="${teacher.teacherid}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" data-th-inline="javascript">
    layui.use(['form','laydate'], function(){
        var  form = layui.form ;
        $ = layui.jquery ;
        laydate = layui.laydate;

        laydate.render({     //创建时间选择框
            elem: '#borrowtimebox' //指定元素
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,trigger: 'click'

        });
        form.on('submit(formDemo)', function(data){
            $.post("/getReleaseInfo", data.field, function(res){
                layer.msg("发布成功！", {
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                    window.location.href="/releaseInfoCenter";
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.layui.table.reload('test');
                });
            })
            return false;
        });
    });

</script>
</body>
</html>