<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.thymeleaf.org">
<head th:replace="head::copy">
<body>
<!DOCTYPE html>
<html lang="en">
<body>
<div  style="width: 600px;height:150px;" ></div>
<div>
    <div style="float:left;width: 200px;height:400px;"></div>
    <div id="main" style="float:left;width: 600px;height:400px;"></div>
    <div id="main1" style="float:left;width: 600px;height:400px;"></div>
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var countName = [];
    var countNum = [];
    $.ajax({
        type:"GET",
        url:"/getResource",
        dataType:"json",
        async:false,
        success:function (result) {
            for (var i = 0; i < result.length; i++){
                countName.push(result[i].countName);
                countNum.push(result[i].countNum);
            }
        },
        error :function(errorMsg) {
            alert("获取后台数据失败！");
        }
    });
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '个人成绩（单位：次）'
        },
        tooltip: {},
        legend: {
            data:['分析']
        },
        xAxis: {
            //结合
            data: countName
        },
        yAxis: {},
        series: [{
            name: '分析',
            type: 'bar',
            //结合
            data: countNum
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<!--<script>
    var myChart1 = echarts.init(document.getElementById('main1'));
    var option1 = {
        title : {
            text: '用户分布',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
        },
        series : [
            {
                name: '用户分布',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:(function () {
                    var datas = [];
                    $.ajax({
                        type:"POST",
                        url:"/getUserInfo",
                        dataType:"json",
                        async:false,
                        success:function (result) {
                            for (var i = 0; i < result.length; i++){
                                datas.push({
                                    "value":result[i].countNum, "name":result[i].countName
                                })
                            }
                        }
                    })
                    return datas;

                })(),
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart1.setOption(option1);
</script>-->
</body>
</html>